Repository flex-development/toggle-pkg-type: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

.lintstagedrc.json:

{
  "*": ["prettier --check", "cspell lint --color --no-progress --relative $@"],
  "**/*.{cjs,gql,json,jsonc,md,mjs,mts,ts,yml}": [
    "eslint --exit-on-fatal-error"
  ],
  "**/*.{cjs,mjs,mts,ts}": "vitest typecheck --changed --run",
  "**/yarn.lock": "yarn dedupe --check",
  "src/**/*.ts": "vitest --changed --coverage --run"
}

chore(github): add "package manager" dropdown to bug report template
  .dictionary.txt
  .github/ISSUE_TEMPLATE/bug.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

chore(github): add "typescript version" input to bug report template
  .github/ISSUE_TEMPLATE/bug.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`approve-pr`] refactor approval step conditional
  .github/workflows/approve-pr.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`add-to-project`] run workflow when pr is synchronized
  .github/workflows/add-to-project.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`add-to-project`] add items from repo admin account
  .github/workflows/add-to-project.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`integrity`] update `pull_request` event activity types
  .github/workflows/integrity.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`dependabot-auto`] sign lockfile fix commit
  .github/workflows/dependabot-auto.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`dependabot-auto`] remove `enable-auto-merge` job conditional
  .github/workflows/dependabot-auto.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci: [@dependabot] configure private registry
  .github/dependabot.yml
  .github/workflows/publish.yml
  .npmrc
  .yarnrc.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

chore(github): configure sponsor button
  .github/funding.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

docs: add "contributor covenant code of conduct"
  CODE_OF_CONDUCT.md
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

docs: remove `github actions` badge
  README.md
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

fix(install): [git] make `postinstall` script work with git install
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`ci`] split ci job into multiple jobs
  .dictionary.txt
  .github/workflows/ci.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

chore(github): add commit scope `types`
  .commitlintrc.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

feat(types): `Command`
  README.md
  src/cli.ts
  src/index.ts
  src/toggle.ts
  src/types/__tests__/command.spec-d.ts
  src/types/command.ts
  src/types/index.ts
  vitest.config.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat: pass module id of package directory or manifest
  .markdownlint.jsonc
  README.md
  __mocks__/@flex-development/mlly.ts
  __mocks__/fs.ts
  build.config.ts
  package.json
  src/__tests__/toggle.functional.spec.ts
  src/__tests__/toggle.spec-d.ts
  src/cli.ts
  src/toggle.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

style(cli): cleanup
  src/cli.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

docs(node): add `URL` example
  src/toggle.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

chore(tests): codecov integration
  .codecov.yml
  README.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`ci`] upload coverage report to codecov
  .github/workflows/ci.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

chore(deps-dev): cleanup changelog deps
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

release: 1.1.0
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

release: 1.1.0 (#26)
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps): bump @flex-development/mlly from 1.0.0-alpha.11 to 1.0.0-alpha.13
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

release: 1.1.1
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

release: 1.1.1 (#32)
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): add `auto-merge`
  .github/workflows/auto-merge.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): add `cache-cleanup`
  .github/workflows/cache-cleanup.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): add `infrastructure`
  .github/infrastructure.yml
  .github/labels.yml
  .github/workflows/infrastructure.yml
  .github/workflows/labels.yml
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(nvm)!: require `>=16.20.0`
  .codecov.yml
  .github/infrastructure.yml
  .github/workflows/ci.yml
  __tests__/ts/v4/tsconfig.build.json
  __tests__/ts/v4/tsconfig.json
  __tests__/ts/v4/tsconfig.typecheck.json
  package.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.typecheck.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps-dev): bump @typescript-eslint/eslint-plugin from 5.54.1 to 5.57.1
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps-dev): bump @typescript-eslint/parser from 5.56.0 to 5.57.1
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

release: 2.0.0
  .commitlintrc.json
  .github/workflows/cache-cleanup.yml
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

release: 2.0.0 (#88)
  .commitlintrc.json
  .github/workflows/cache-cleanup.yml
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

chore: sync config files
  .dictionary.txt
  .editorconfig
  .eslintignore
  .eslintrc.base.cjs
  .vscode/settings.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

build(deps-dev): bump @flex-development/mkbuild from 1.0.0-alpha.19 to 1.0.0-alpha.20
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

chore: [eslint] fix `tsconfig.cjs.json` path
  .eslintrc.base.cjs
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

ci(workflows): [`cache-cleanup`] refactor branch filter
  .github/workflows/cache-cleanup.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error
