Repository flex-development/toggle-pkg-type: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

ci(workflows): add `typescript-canary`
  .github/workflows/typescript-canary.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps-dev): add `semver`
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

ci(workflows): [`ci`] fix `codecov/codecov-action` version
  .github/workflows/ci.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`approve-pr`] remove `dependabot-metadata` condition
  .github/workflows/approve-pr.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps-dev): bump @flex-development/tutils from 6.0.0-alpha.10 to 6.0.0-alpha.12
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

ci: [@dependabot] configure grouped version updates
  .dictionary.txt
  .github/dependabot.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

chore: update dev and test environments
  .eslintrc.base.cjs
  .github/infrastructure.yml
  .github/workflows/ci.yml
  .github/workflows/typescript-canary.yml
  .nvmrc
  .prettierrc.json
  .vscode/settings.json
  __tests__/interfaces/mock.ts
  __tests__/interfaces/spy.ts
  __tests__/reporters/notifier.ts
  __tests__/serve.json
  __tests__/ts/v4/tsconfig.build.json
  __tests__/ts/v4/tsconfig.json
  __tests__/ts/v4/tsconfig.typecheck.json
  package.json
  tsconfig.build.json
  typings/@types/node/http2.d.ts
  vitest.config.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check

chore: analyze types distribution
  .attw.json
  .dictionary.txt
  .eslintignore
  .github/workflows/ci.yml
  package.json
  scripts/release.sh
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

release: 2.0.1
  CHANGELOG.md
  config/changelog.config.ts
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

release: 2.0.1 (#211)
  CHANGELOG.md
  config/changelog.config.ts
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

Path conditions:
  prettier --check: any of: *
  cspell lint --color --no-progress --relative $@: any of: *
  eslint --exit-on-fatal-error: any of: **/*.{cjs,gql,json,jsonc,md,mjs,mts,ts,yml}
  vitest typecheck --changed --run: any of: **/*.{cjs,mjs,mts,ts}
  yarn dedupe --check: any of: **/yarn.lock
  vitest --changed --coverage --run: any of: src/**/*.ts
